body {
  margin: 0;
  padding: 0;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  background: url('IMG_6218.JPG') no-repeat center center fixed;
  background-size: cover;

}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.map-view {
  width: 750px;
  height: 500px;
  border: solid 1px black;
  margin: 0 auto;
}

.esri-table {
  color: #3c8bb3;
}

.esri-widget {
  font-family: 'Amatic SC', cursive;
  font-size: auto;
}

h2.esri-popup__header-title {
  font-size: 22px;
}

.esri-attribution {
  font-size: 20px;
}

.esri-table tr td,
.esri-table tr th {
  font-size: 16px;
}

.esri-table tr th {
  width: 20%;

}

.siteInformation {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 25px;
  background-color: #def6fb8a;
  border: solid;
}

.individualSiteInfo h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 25px;
  font-family: fantasy;
}

.individualSiteInfo {
  margin-left: 5px;
  margin-right: 5px;
}

.siteInformation h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 35px;
  text-decoration: underline;
}

h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

p {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 20px;
}

#backToTop{
  color: black;
  font-family: 'Amatic SC', cursive;
  font-size: 18px;
  border-radius: 12px;
  width: 100px;
}

#backToTop:hover {
  background-color: #a66934;
}
